<div class="container">
  <img src="../../assets/img/login.jpg">
  <img class="logo" src="../../assets/img/logo.png">
  <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)">
    <input type="text" placeholder="Login" required formControlName="userName">
    <input type="password" placeholder="Password" required formControlName="password">
    <a href="">Forgot your password ?</a>
    <button type="submit">Login</button>
  </form>
  <div class="languages">
    <a href="" class="is-active">EN</a>
    <a href="">FR</a>
    <a href="">IT</a>
    <a href="">ES</a>
  </div>
</div>