@import "../../styles";

.container {
  font-family: "Ubuntu-Medium";
  margin-bottom: 20px;
}

.info {
  background-image: url("../../assets/img/home.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 30px;
}

.news {
  background-color: $color-white;
  max-width: 30%;
  border-radius: 5px;
  padding: 30px;
  text-align: justify;
}

a {
  text-decoration: none;
  color: $color-secondary;
}

a.icon {
  font-family: "Sonar";
  font-size: large;
}

.icons {
  margin: 10px 0;
}

.icons>a {
  font-family: "Sonar";
  font-size: large;
  text-decoration: none;
  color: $color-light-grey;
  margin-right: 20px;
}

.icons > a.clickable {
  color: $color-primary;
}

h5 {
  color: $color-grey;
  font-size: small;
  font-weight: normal;
}

h3 {
  text-transform: uppercase;
  text-decoration: none;
  color: $color-grey;
  font-size: small;
  font-weight: normal;
}

h2 {
  color: $color-primary;
  font-size: 22px;
  font-weight: normal;
}

p {
  font-family: "Ubuntu-Light";
  color: $color-grey;
  font-size: small;
  margin: 15px 0;
}

.date {
  margin: 0;
}

.file {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.machines {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.card {
  font-family: "Ubuntu-Light";
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.card:hover {
  background-color: $color-hover;
}

h2.title {
  margin: 50px;
}

/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ======================= */

@media screen and (max-width: 1080px) {

  .cards {
    flex-direction: column;
    margin: 10px;
  }

  .news {
    border: 0.5px solid $color-light-grey;
    max-width: 40%;
  }
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ===================== */

@media screen and (max-width: 600px) {
  .info {
    background-image: none;
  }

  .news {
    border: 0.5px solid $color-light-grey;
    max-width: 90%;
  }

  .cards {
    flex-direction: column;
    margin: 10px;
  }

  h2.title {
    margin: 10px;
  }
}